#setting_sample_text{
 display:none;    
}
.acf-gallery{
 height:300px !important;	
}
.hotel_location{
 width:40%;	
}
.hotel_price{
 width:20%;	
}
#visit_domain_contact_no{
  width: 35% !important;	
}
#visit_domain_copyright{
  width: 35% !important;		
}
.errorCurrency{
	color: red;
}
.tour_location{
 width:33%;	
}
.tour_address{
 width:33%;	
}
.tour_price_type{
 width:33%;		
}
.tour_base_price{
  width:33%;		
}
.tour_base_price_avail{
  width: 33%;	
}
.tour_type_of_discount{
  width:33%;	
}
.tour_type,.tour_duration,.tour_min_of_people,.tour_max_of_people,.tour_availability_status{
	width: 33%;
}