<!-- start Simple Custom CSS and JS -->
<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

body {
    color: #666666;
    font-size: 17px;
    font-family: 'Lato', sans-serif !important;
    font-weight: normal;
    overflow-x: hidden;
    line-height:28px;
}

/*----------------------Home Page Headers  ---------------------*/

.home #st-content-wrapper.search-result-page .search-form-wrapper .st-heading {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 54px;
    color: #FFF;
    text-shadow: 0px 2px #201f1f;
}

.home #st-content-wrapper.search-result-page .search-form-wrapper .sub-heading {
    font-size: 18px;
    color: #FFF;
    margin-top: 12px;
}



div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button {
    background-color: #1d8e4d;
    border: 1px solid #1d8e4d;
    color: #333;
    font-size: 1em;
    padding: 10px 15px;
    color: white;
}

h5 {
    color: #227f11;
    text-align: left;
    font-size: 15px;
    font-weight: 700;
}

.block1 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    width: 60%;
}
.columnstyle  {
    height: 500px;
}
.columnstyle .bg-mask {
    opacity: 0;
}
li.vc_tta-tab {
    background-color: #f2f2f2;
}
li.vc_tta-tab.vc_active {
    background-color: #c6eaea;
}
.hotel-alone .menu-style-2 .menu .current-menu-ancestor>a{
 background: transparent !important;   
}
.footer-custom a{
 color: #333;   
}

.st-link {
    color: #0e7625;
    text-decoration: none;
}

.subcribe-form input[type="submit"] {
    border: none;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 55px;
    line-height: 55px;
    color: #FFF;
    background: #1d8e4d;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.search-result-page .search-form-wrapper .form-button button {
   margin-left: auto;
    background: #1d8e4d;
    text-transform: uppercase;
    padding: 10px 15px 11px 15px;
    /* height: 60%; */
    /* position: absolute; */
    /* right: 10px; */
    width: 100px;
}

.search-result-page .search-form-wrapper .search-form .form-extra-field .render {
    font-size: 16px;
    color: #1d8e4d;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

search-result-page .search-form-wrapper .search-form .form-date-field .check-in-wrapper .render, .search-result-page .search-form-wrapper .search-form .form-date-field .check-out-wrapper .render {
    font-size: 16px;
    font-weight: 400;
    color: #1d8e4d;
}

.search-result-page .search-form-wrapper .form-button .advance .field-advance .dropdown .render span {
    font-size: 16px;
    color: #1d8e4d;
    cursor: pointer;
}

.range-slider .irs-bar {
    background: #1d8e4d;
    border-radius: 100px;
    height: 6px;
    border-color: #1d8e4d;
}


.range-slider .irs-slider {
    height: 12px;
    width: 12px;
    background: #1d8e4d;
    border: 0;
    top: 30px;
}


.irs-from, .irs-to, .irs-single {
    background: #1d8e4d;
}


.st-number-wrapper input {
    float: right;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: #1d8e4d;
    text-align: center;
    border: none;
    box-shadow: none;
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#header .header .header-left #st-main-menu .main-menu a:hover {
    color: #1d8e4d;
    text-decoration: none;
}


.mailchimp {
    padding-top: 65px;
    padding-bottom: 40px;
    background: #F5F5F5;
    display: none;
}

#st-content-wrapper .services-grid .item .reviews .rate {
    color: #1d8e4d;
    margin-right: 22px;
    position: relative;
}


#st-content-wrapper .st-hotel-header .review-score .head .score {
    position: relative;
    float: right;
    margin-left: 20px;
    padding: 15px 12px 0px 12px;
    background: #1d8e4d;
    border-radius: 5px;
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
    min-height: 52px;
}


#st-content-wrapper .st-hotel-header .review-score .head .score:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    bottom: 0;
    left: -8px;
    border: 15px solid transparent;
    border-bottom: 25px solid #1d8e4d;
}

#st-content-wrapper .form-book-wrapper .form-head {
    padding: 17px 20px;
    background: #1d8e4d;
    font-size: 12px;
    color: #fff;
}

#st-content-wrapper .form-book-wrapper {
    border: 1px solid #D7DCE3;
    border-top: 5px solid #1d8e4d;
    border-radius: 0 0 4px 4px;
    background: #FFF;
}


.single .tab-content {
    background: #FFF;
    border-bottom: 5px solid #1d8e4d;
    padding: 0px;
}

.btn.btn-green {
    background: #1d8e4d;
    color: #FFF;
}

#st-content-wrapper .form-book-wrapper .form-extra-field .render {
    font-size: 16px;
    color: #1d8e4d;
}

#st-content-wrapper .form-book-wrapper .form-date-field .check-in-wrapper .render, #st-content-wrapper .form-book-wrapper .form-date-field .check-out-wrapper .render {
    font-size: 16px;
    font-weight: 400;
    color: #1d8e4d;
}


.single .form-book-wrapper nav > .nav-fill-st .active a {
    border: none;
    color: #1d8e4d;
    background: #fff;
    border-radius: 0;
}

.single .st-sent-mail-customer .form-st-send-mail .st_send-mail-form .sent-email-st {
    background: #1d8e4d !important;
    color: #FFF !important;
}

#st-content-wrapper .st-hotel-header .review-score .head span.text-rating {
    color: #1d8e4d;
    font-size: 14px;
}

.search-result-page .st-hotel-result .sidebar-item .search-form-wrapper .search-form .search-title:before, .search-result-page .st-rental-result .sidebar-item .search-form-wrapper .search-form .search-title:before {
    content: "";
    width: 4px;
    height: 22px;
    background: #1d8e4d;
    display: block;
    float: left;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.search-result-page .st-hotel-result .sidebar-item .item-content .btn-more-item, .search-result-page .st-rental-result .sidebar-item .item-content .btn-more-item {
    font-size: 14px;
    color: #1d8e4d;
    padding: 0;
    margin-top: 20px;
    text-decoration: none;
    display: none;
}

.search-result-page .st-hotel-result .item-service .service-review .rating, .search-result-page .st-rental-result .item-service .service-review .rating {
    font-size: 14px;
    color: #1d8e4d;
    margin-right: 10px;
}
.page-template-template-hotel-search .toolbar .heading-custom-text {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 25px;
    margin-bottom: 20px;
}
.page-template-template-tour-search p.heading-custom-text.tour-custom-text {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    padding-top: 25px;
    padding-bottom: 25px;
}
.post-main {
    min-height: 100px;
    height: 100%;
}
.post-date {
    display: inline-block;
    padding-left: 5px;
}
.post-author {
      display: inline-block;
}
.post-author div:before {
    content: 'Published by';
    padding-right: 4px;
}
.post-author div:after {
    content: 'on';
    padding-left: 5px;
}
.post-title {
    margin-bottom: 2px;
    color: #1d8e4d;
    font-size: 18px;
    font-weight: bold;
}
.post-main .vc_gitem_row {
    border-bottom: 2px solid #dfdfdf;
    position: relative;
}


/*page Title css*/

.search-result-page .banner {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 !important;
    position: relative;
}
.btn-custom-wrap {
    display: flex;
    max-width: 150px;
    margin-left: auto;
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    padding: 0 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-with-btn{
    position: relative;
}

.services-grid img.img-responsive.img-full {
    height: 202.2px;
}
.services-grid .col-xs-12.col-sm6.col-md-3 {
    padding: 12px;
}
/*16-12-2019 css*/
.twofields {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.left-text {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px 0 0;
}
.right-text {
    flex: 0 0 50%;
    max-width: 50%;
}
input.wpcf7-form-control.wpcf7-submit
{
	border-radius: 0px !important;
	width: 20% !important;
}
input.wpcf7-form-control.wpcf7-submit:hover {
    width: 20% !important;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    background-color: #444 !important;
    color: #fff !important;
    font-family: inherit;
    border: 1px solid #444 !important;
}
.form-group.form-guest-search.clearfix {
    display: none;
} 
.upl-post-title a {
    color: rgba(67, 64, 64, 0.75);
    font-size: 16px;
    font-weight: 900;
}
.upl-post-excerpt {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}
p.heading-custom-text.tour-custom-text {
    margin-top: 25px;
}
#comments,#comment-wrapper{
	display: none;
}
.upl-list ul {
    margin-top: 10px;
}
#upl-list-9460 ul li {
    margin-top: 0px;
    margin-bottom: 24px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 20px 0 0;
}
.upl-post-title {
    font-size: inherit;
    line-height: normal;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: normal;
    margin-top: 15px;
}
.upl-post-date {
    margin: 0 0 15px;
    color: #787878;
}
.upl-post-excerpt {
    font-size: 14px;
    margin: 0;
    line-height: 20px;
}
form.search input.form-control {
    background: #eeeff2;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    font-style: inherit;
}
form.search input.form-control.focus-visible {
    border: 2px solid #1d8e4d;
    background: #fff;
}
form.search button {
    background: #1d8e4d !important;
    font-size: 20px;
    font-weight: 700;
        border-radius: 0 !important;
}
div#search-3 {
    margin: 0 0 25px;
}
.sidebar-widget .sidebar-title h4 {
    font-size: 16px;
    color: #787878;
    font-weight: 800;
}
.sidebar-widget .tagcloud a {
    display: inline-block;
    vertical-align: top;
    font-size: 13px !important;
    color: #aaaaaa !important;
    border: 1px solid #cccccc;
    padding: 5px 10px;
    margin: 0 6px 7px 0;
    text-decoration: none !important;
    background: transparent !important;
    transition: 0.3s;
}
.st-blog aside .sidebar-widget.widget_tag_cloud .tagcloud a:hover {
    background: #1d8e4d !important;
    color: #fff !important;
    border-color: #1d8e4d;
}
.tagcloud {
    margin: 0 0 30px 0;
    padding: 0 0 30px;
    position: relative;
}
.tagcloud:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;
    background: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.15) 5px, rgba(0, 0, 0, 0.15) 10px, transparent 10px, transparent 15px);
}
div#recent-posts-3 .sidebar-title {
    padding-top: 0 !important;
}
.widget_recent_entries ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
/*p.heading-custom-text {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 24px;
}*/
.widget_recent_entries ul li {
    padding-left: 0;
    position: relative;
    margin: 0 0 10px 0;
}
.widget_recent_entries ul li:before {
    content: '';
    top: 0;
    bottom: 8px;
    width: 6px;
    background-color: rgba(0, 0, 0, 0.3);
}
.widget_recent_entries ul li a {
    display: block;
    position: relative;
    padding: 6px 0 14px 20px;
}
.widget_recent_entries ul li a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 20px;
    bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
} 
.sidebar-title:after, .sidebar-title h4:after {
	    opacity: 0 !important;
}
div.upl-list ul {
    overflow: visible;
}
.widget_recent_entries ul li:before {
    content: '';
    top: 0;
    bottom: 8px;
    width: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    display: inline-block;
    vertical-align: top;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 10px;
    transform: translate(0, 0);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.widget_recent_entries ul li:hover:before {
	    background: #1d8e4d;
}

.widget_recent_entries ul li a {
    display: block;
    position: relative;
    padding: 6px 0 14px 20px;
    font-size: 15px;
    text-decoration: none;
    color: #767676;
    font-weight: 600;
    line-height: 22px;
}
.upl-list ul li{
    border: 1px solid #e6e6e6;
		display: inline-block;
    width: 100%;
}
.upl-list ul li:hover {
    border: 1px solid #e6e6e6;
    transition: all .25s ease !important;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.07);
    border-color: transparent;
}
.upl-list ul li img{
	margin: 0px 30px 0px 0px !important;
}
.search-result-page.st-tours .grid-item .section-footer .service-price .price span {
    font-size: 16px !important;
    color: #1A2B48;
    font-weight: 500;
}
/*end 16-12-2019 css*/
.adv {
    margin: 30px 0px !important;
}
.search-form-wrapper .nav-tabs li.active a {
    background-color: #1d8e4d;
    color: #fff;
    border-color: #1d8e4d;
}
a.custom-link-1.btn.btn-green.btn-large.btn-full.upper.font-medium.btn_tour_booking {
    margin-top: 0px;
}
#st-content-wrapper .form-book-wrapper.inline .submit-group .btn.custom-link, #st-content-wrapper .form-book-wrapper.inline .submit-group .btn.custom-link-3 {
	box-shadow: none !important;
	line-height: 75px !important;
	padding: 0 !important;
}
.custom-link-1.btn.btn-large {
    font-size: 13px !important;
		white-space: unset;
}

.owner-info.widget-box {
	display: none;
}
.btn.btn-green:hover{
		background:#1d8e4d;
}
#st-content-wrapper .review-box .review-box-score .review-score{
	    color: #1d8e4d;
}
#st-content-wrapper .review-box .review-box-score .review-score-base span , #st-content-wrapper .form-book-wrapper .form-more-extra .dropdown{
	    color: #1d8e4d;
}
#st-content-wrapper .review-box .item .progress .percent , #st-content-wrapper #reviews .review-list .comment-item .comment-item-body .comment-rate{
	background:#1d8e4d;
}
#header .header .header-left #st-main-menu .main-menu li.current-menu-item > a, #header .header .header-left #st-main-menu .main-menu li.current-menu-ancestor > a :focus{color: #1d8e4d;}
#header .header .header-left #st-main-menu .main-menu li.menu-item-has-children .menu-dropdown li:hover > a, #header .header .header-left #st-main-menu .main-menu li.menu-item-has-children .menu-dropdown li:hover > .fa ,  #header .header .header-left #st-main-menu .main-menu li.current-menu-item > a, #header .header .header-left #st-main-menu .main-menu li.current-menu-ancestor > a{color: #1d8e4d;}
.st-link:hover{color: #1d8e4d !important;}
#header .header .header-left #st-main-menu .main-menu > li.active > a, #header .header .header-left #st-main-menu .main-menu > li:hover > a, #header .header .header-left #st-main-menu .main-menu > li.current-menu-item > a{color: #1d8e4d !important;}
#header .header .header-left #st-main-menu .main-menu li.menu-item-has-children .fa{color: #1d8e4d !important;}
.single .form-book-wrapper nav > .nav-fill-st .active a:after{background:#1d8e4d;}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.name {
height: 40px;
width: 100%;
padding: 10px;
background: #fff;
color: #000000;
font-size: 18px;
border: 1px solid #ccc;
}
input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.email{
height: 40px;
width: 100%;
padding: 10px;
background: #fff;
color: #000000;
font-size: 18px;
border: 1px solid #ccc;
}
input.wpcf7-form-control.wpcf7-text.subject{
height: 40px;
width: 100%;
padding: 10px;
background: #fff;
color: #000000;
font-size: 18px;
border: 1px solid #ccc;
}

input.wpcf7-form-control.wpcf7-text.phone{
height: 40px;
width: 100%;
padding: 10px;
background: #fff;
color: #000000;
font-size: 18px;
border: 1px solid #ccc;
}
textarea.wpcf7-form-control.wpcf7-textarea.message{
height: 150px;
width: 100%;
padding: 10px;
background: #fff;
color: #000000;
font-size: 18px;
border: 1px solid #ccc;
}

input.wpcf7-form-control.wpcf7-submit{
    width: 30%;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    background-color: #1d8e4d;
    color: #fff;
    font-family: inherit;
    border: 1px solid #1d8e4d;
    border-radius: 25px;}
input.wpcf7-form-control.wpcf7-submit:hover{
width: 30%;
height: 40px;
font-weight: bold;
    font-size: 20px;
background-color: #fff;
color: #1d8e4d;
font-family: inherit;
border: 1px solid #1d8e4d;
}

.page-id-8088 .st-contact-info .info-bg img {height: 480px;display: flex;object-fit: cover;}
#st-content-wrapper {
padding-bottom: 0px;
}

#main-footer {
padding-top: 0px !important;
padding-bottom: 0px !important;
border-bottom: 1px solid #EAEEF3;
}
.info-content{
background-color:#1d8e4d !important;
}
.tel-contact , .tel-email{color:#fff!important;}
.tel-contact:hover , .tel-email:hover{color:#ed8323!important;}
/*#topbar ul.st-list.topbar-items li.topbar-item.signup-item, #topbar ul.st-list.topbar-items li.topbar-item.login-item {
    display: none!important;
} */
.page-id-7414 .mailchimp {
   
     display: block;
}
.single-st_hotel .form-book-wrapper div#nav-tabContent div#nav-book .form-group.form-extra-field.dropdown.clearfix.field-guest {
    display: none;
}
/*====================================================================================================================*/

/* Responsive Css Start */
@media (min-width: 1200px) and (max-width: 1300px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
}


@media (min-width: 768px) and (max-width: 991px) { }

@media (max-width: 767px) {
#st-content-wrapper {
padding-bottom: 0px;
}

#main-footer {
padding-top: 0px !important;
padding-bottom: 0px !important;
border-bottom: 1px solid #EAEEF3;
}

.services-grid .col-xs-6 {width: 100%;}


}

@media (min-width: 568px) and (max-width: 767px) {

} 

@media (min-width: 240px) and (max-width: 337px) {
}


input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.name:focus-within{border-color:1px solid #1d8e4d !important;}
input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.email:focus-within{border-color:1px solid #1d8e4d !important;}
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.phone:focus-within{border-color:1px solid #1d8e4d !important;}
input.wpcf7-form-control.wpcf7-text.subject:focus-within{border-color:1px solid #1d8e4d !important;}
textarea.wpcf7-form-control.wpcf7-textarea.message:focus-within{border-color:1px solid #1d8e4d !important;}

.single-st_hotel .form-book-wrapper nav > .nav-fill-st li:last-child {
    display: none;
}
.single-st_tours #st-content-wrapper.st-single-tour .st-include, .single-st_tours #st-content-wrapper.st-single-tour .st-program {
    display: none;
}

.search-result-page .banner h1 {
    font-size: 36px;
    color: #c1d6ca;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
    font-weight: 900;
   text-shadow: 1px 1px #000000;
}

input.form-control {
    height: 40px;
    font-size: 14px;
    color: #5E6D77;
    font-style: italic;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #D7DCE3;
}
button {
    height: 40px;
    background: #5191FA;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    border: none;
    width: 40px;
    text-align: center;
}
form.search {
    display: flex;
}


#st-content-wrapper .services-grid .item .reviews {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    display: none;
}

.search-result-page .search-form-wrapper .search-form .form-date-field .check-in-wrapper .render, .search-result-page .search-form-wrapper .search-form .form-date-field .check-out-wrapper .render {
    font-size: 16px;
    font-weight: 400;
    color: #1d8e4d;
}


/*===============================Control Display of Price===========================================*/




#st-content-wrapper .services-grid .item .price-wrapper .price {
    font-size: 24px;
    color: #19782e;
    font-weight: 700;
}

#st-content-wrapper .services-grid .item .price-wrapper .price {
    font-size: 24px;
    color: #19782e;
    font-weight: 700;
}


/*===============================Control Display of Tours on Home  ===========================================*/


.search-result-page.st-tours .grid-item .service-review {
    margin-top: 8px;
    margin-bottom: 25px;
    display: none;
}

.search-result-page.st-tours .grid-item .section-footer .service-price span {
    color: #5E6D77;
    font-size: 14px;
}
.search-result-page.st-tours .grid-item .section-footer .service-price .price span {
    font-size: 24px !important;
    color: #1d8e4d;
    font-weight: 700;
}

.search-result-page.st-tours .grid-item .service-border {
    border: 0px solid #dfdfdf;
    border-radius: 3px;
    overflow: hidden;
    height: 100%;
    padding-bottom: 15px;
    display: table;
}

/*===============================Control Display of Blog Posts  ===========================================*/

.blog-header .blog-header-title {
    position: absolute;
    top: 50%;
   font-size: 36px;
    color: #c1d6ca;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
    font-weight: 900;
    text-shadow: 1px 1px #000000;
}


.st-blog .content .article .header .cate ul li a {
    color: #fff;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    background-color: #1d8e4d;
}


.blog-content .author-info {
    margin-top: 40px;
    padding: 30px;
    border: 1px solid #D7DCE3;
    border-radius: 3px;
    display: none;
}

.home-blog .post-grid-main:nth-child(5) .post-main .vc_gitem_row, .home-blog .post-grid-main:nth-child(6) .post-main .vc_gitem_row {
    border-bottom: none;
}



.blog-content .post-content {
    /* margin-top: 30px; */
    color: #5E6D77;
    font-size: 17px;
    line-height: 28px;
}

/*===============================Control Display of Hotel Search Results  ===========================================*/

.search-result-page .st-hotel-result .item-service .thumb a img, .search-result-page .st-rental-result .item-service .thumb a img {
    min-width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 202.2px;
}

.search-result-page .st-hotel-result .toolbar h3.search-string, .search-result-page .st-rental-result .toolbar h3.search-string {
    font-size: 18px;
    color: #1A2B48;
    font-weight: normal;
    float: left;
    margin: 0;
    width: calc(100% - 150px);
}
.search-result-page .st-hotel-result .item-service .service-review, .search-result-page .st-rental-result .item-service .service-review {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.search-result-page .st-hotel-result .item-service .service-price span, .search-result-page .st-rental-result .item-service .service-price span {
     font-size: 14px;
    color: #b5bcb7;
     font-weight: 400;
}

.search-result-page .st-hotel-result .item-service .service-price span.price, .search-result-page .st-rental-result .item-service .service-price span.price {
    font-size: 24px;
    font-weight: 700;
    color: #1d8e4d;
    margin-left: 5px;
    margin-right: 5px;
}

.search-result-page .st-hotel-result .item-service p.service-location, .search-result-page .st-rental-result .item-service p.service-location {
    font-size: 13px;
    color: #5E6D77;
    line-height: 15pt;
}

.pagination ul li a.current {
    border: 1px solid #1d8e4d !important;
    border-radius: 3px;
    background: transparent !important;
    color: #1d8e4d !important;
}

/*===============================Control Display of Hotel Detail  ===========================================*/


#st-content-wrapper .st-breadcrumb {
    padding: 20px 0;
    border-bottom: 1px dotted #EAEEF3;
    font-size: 14px;
}

#st-content-wrapper .st-hotel-header .review-score .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    font-size: 24px;
    color: #1A2B48;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 5px;
}

#st-content-wrapper .st-heading {
    margin-top: 10px;
    /* color: #1A2B48; */
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}


/*===============================Control Display of Tours Detail  ===========================================*/

#st-content-wrapper.st-single-tour .st-hotel-header .st-heading {
    margin-top: 0px !important;
    line-height: 30px;
}

.st-tour-content {
    padding-top: 10px;
}

.tour_from_price {
    color: #1d8e4d;
    font-size: 28px;
    font-weight: bold;
}

.tour_from_label {
    color: #a5a5a5;
    position: relative;
    /* top: -16px; */
    /* font-weight: bold; */
    font-size: 13px;
}

.low_price_txt {
    font-size: 13px;
    font-weight: 700;
    margin-top: 5px;
}

.form_booking_wrapper {
    background-color: #EDEDED;
    padding: 24px 12px 18px 15px;
    margin-top: 60px;
}

.booking_next_text {
    color: #648269;
    background-color: #D7F4DE;
    font-weight: 700;
    padding: 14px 12px 18px 15px;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 16pt;
}

.booking_check_availablity_btn {
    background-color: #1C8D4D;
    border: 0px;
    border-bottom: 5px solid #086546;
    color: #fff;
    height: 44px;
    width: 100%;
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 18px;
}


.reserve_now_heading {
    color: #1A2B48;
    font-weight: bold;
    font-size: 18px;
    margin-top: 14px;
}

.reserve_now_subheading {
    font-size: 16px;
}

.free_cancelation_subheading {
    font-size: 16px;
}

.free_cancelation_heading {
    color: #1A2B48;
    font-weight: bold;
    font-size: 18px;
    margin-top: 18px;
}


#st-content-wrapper .st-description {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    color: #5E6D77;
    font-weight: 400;
    position: relative;
}

.cat_heading {
    color: #5F5F5F;
    font-size: 18px;
    margin-left: 20px;
}

.all_tours {
    color: #5F5F5F;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 35px;
}

#st-content-wrapper .st-heading-section {
    margin-bottom: 20px;
    font-size: 22px;
    /* color: #1A2B48; */
    font-weight: 500;
}

#st-content-wrapper .review-box {
    margin-top: 20px;
    padding: 30px;
    border: 1px solid #EAEEF3;
    border-radius: 5px;
    color: #1A2B48;
    font-weight: 500;
    display: none;
}</style>
<!-- end Simple Custom CSS and JS -->
